body {
    background-color: bisque;
}
div{
    background-color: aqua;
}
.first_div{
    margin-left: 200px;
    height: 200px;
    width: 200px;
    border: 5px solid brown;
    background-color: yellow;
}
.second_div {
    margin-left: 410px;
    height: 200px;
    width: 200px;
    border: 5px ridge red ;
    background-color: chartreuse;
}
.three_div {
    margin-left: 620px;
    height: 200px;
    width: 200px;
    border: 5px dashed yellow;
    background-color: cornflowerblue;
}